
/.vs/MOTOR_WORKFLOW
/.vs
.vs/MOTOR_WORKFLOW/DesignTimeBuild/.dtbcache.v2
.vs/MOTOR_WORKFLOW/DesignTimeBuild/.dtbcache.v2
.vs/MOTOR_WORKFLOW/v17/.suo
/.vs
/SIIMVA_WEB/obj
/SIIMVA_WEB/obj
/.vs
MOTOR_WORKFLOW.sln
.vs/MOTOR_WORKFLOW/DesignTimeBuild/.dtbcache.v2
.vs/MOTOR_WORKFLOW/v17/.suo
/SIIMVA_WEB/obj
SIIMVA_WEB/bin/Release/net6.0/publish/MOTOR_WORKFLOW.pdb
SIIMVA_WEB/bin/Release/net6.0/publish/Newtonsoft.Json.dll
SIIMVA_WEB/bin/Release/net6.0/publish/RestSharp.dll
SIIMVA_WEB/bin/Release/net6.0/publish/Swashbuckle.AspNetCore.Swagger.dll
SIIMVA_WEB/bin/Release/net6.0/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
SIIMVA_WEB/bin/Release/net6.0/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
SIIMVA_WEB/bin/Release/net6.0/publish/System.Data.SqlClient.dll
SIIMVA_WEB/bin/Release/net6.0/publish/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
SIIMVA_WEB/bin/Release/net6.0/publish/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
SIIMVA_WEB/bin/Release/net6.0/publish/runtimes/win-arm64/native/sni.dll
SIIMVA_WEB/bin/Release/net6.0/publish/runtimes/win-x64/native/sni.dll
SIIMVA_WEB/bin/Release/net6.0/publish/runtimes/win-x86/native/sni.dll
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/runtimes/win-x64/native/sni.dll
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/runtimes/win-x86/native/sni.dll
EndPointIntegracion/obj/Release/net6.0/ref/EndPointIntegracion.dll
EndPointIntegracion/obj/Release/net6.0/refint/EndPointIntegracion.dll
EndPointIntegracion/Properties/PublishProfiles/FolderProfile.pubxml.user
SIIMVA_WEB/bin/Release/net6.0/MOTOR_WORKFLOW.dll
SIIMVA_WEB/bin/Release/net6.0/publish/Microsoft.OpenApi.dll
SIIMVA_WEB/bin/Release/net6.0/publish/MOTOR_WORKFLOW.dll
SIIMVA_WEB/bin/Release/net6.0/publish/MOTOR_WORKFLOW.exe
EndPointIntegracion/EndPointIntegracion.csproj.user
EndPointIntegracion/bin/Debug/net6.0/EndPointIntegracion.dll
EndPointIntegracion/bin/Debug/net6.0/EndPointIntegracion.exe
EndPointIntegracion/bin/Debug/net6.0/EndPointIntegracion.pdb
EndPointIntegracion/bin/Debug/net6.0/Microsoft.OpenApi.dll
EndPointIntegracion/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
EndPointIntegracion/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
EndPointIntegracion/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
EndPointIntegracion/bin/Debug/net6.0/System.Data.SqlClient.dll
EndPointIntegracion/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Data.SqlClient.dll
EndPointIntegracion/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Data.SqlClient.dll
EndPointIntegracion/bin/Debug/net6.0/runtimes/win-arm64/native/sni.dll
EndPointIntegracion/bin/Debug/net6.0/runtimes/win-x64/native/sni.dll
EndPointIntegracion/bin/Debug/net6.0/runtimes/win-x86/native/sni.dll
EndPointIntegracion/bin/Release/net6.0/EndPointIntegracion.dll
EndPointIntegracion/bin/Release/net6.0/EndPointIntegracion.exe
EndPointIntegracion/bin/Release/net6.0/EndPointIntegracion.pdb
EndPointIntegracion/bin/Release/net6.0/Microsoft.OpenApi.dll
EndPointIntegracion/bin/Release/net6.0/Swashbuckle.AspNetCore.Swagger.dll
EndPointIntegracion/bin/Release/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
EndPointIntegracion/bin/Release/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
EndPointIntegracion/bin/Release/net6.0/System.Data.SqlClient.dll
EndPointIntegracion/bin/Release/net6.0/publish/EndPointIntegracion.dll
EndPointIntegracion/bin/Release/net6.0/publish/EndPointIntegracion.exe
EndPointIntegracion/bin/Release/net6.0/publish/EndPointIntegracion.pdb
EndPointIntegracion/bin/Release/net6.0/publish/Microsoft.OpenApi.dll
EndPointIntegracion/bin/Release/net6.0/publish/Swashbuckle.AspNetCore.Swagger.dll
EndPointIntegracion/bin/Release/net6.0/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
EndPointIntegracion/bin/Release/net6.0/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
EndPointIntegracion/bin/Release/net6.0/publish/System.Data.SqlClient.dll
EndPointIntegracion/bin/Release/net6.0/publish/runtimes/unix/lib/net6.0/System.Data.SqlClient.dll
EndPointIntegracion/bin/Release/net6.0/publish/runtimes/win/lib/net6.0/System.Data.SqlClient.dll
EndPointIntegracion/bin/Release/net6.0/publish/runtimes/win-arm64/native/sni.dll
EndPointIntegracion/bin/Release/net6.0/publish/runtimes/win-x64/native/sni.dll
EndPointIntegracion/bin/Release/net6.0/publish/runtimes/win-x86/native/sni.dll
EndPointIntegracion/bin/Release/net6.0/runtimes/unix/lib/net6.0/System.Data.SqlClient.dll
EndPointIntegracion/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Data.SqlClient.dll
EndPointIntegracion/bin/Release/net6.0/runtimes/win-arm64/native/sni.dll
EndPointIntegracion/bin/Release/net6.0/runtimes/win-x64/native/sni.dll
EndPointIntegracion/bin/Release/net6.0/runtimes/win-x86/native/sni.dll
EndPointIntegracion/obj/EndPointIntegracion.csproj.nuget.dgspec.json
EndPointIntegracion/obj/EndPointIntegracion.csproj.nuget.g.props
EndPointIntegracion/obj/project.assets.json
EndPointIntegracion/obj/project.nuget.cache
EndPointIntegracion/obj/Debug/net6.0/apphost.exe
EndPointIntegracion/obj/Debug/net6.0/EndPointIntegracion.AssemblyInfo.cs
EndPointIntegracion/obj/Debug/net6.0/EndPointIntegracion.AssemblyInfoInputs.cache
EndPointIntegracion/obj/Debug/net6.0/EndPointIntegracion.assets.cache
EndPointIntegracion/obj/Debug/net6.0/EndPointIntegracion.csproj.AssemblyReference.cache
EndPointIntegracion/obj/Debug/net6.0/EndPointIntegracion.csproj.CoreCompileInputs.cache
EndPointIntegracion/obj/Debug/net6.0/EndPointIntegracion.dll
EndPointIntegracion/obj/Debug/net6.0/EndPointIntegracion.GeneratedMSBuildEditorConfig.editorconfig
EndPointIntegracion/obj/Debug/net6.0/EndPointIntegracion.genruntimeconfig.cache
EndPointIntegracion/obj/Debug/net6.0/EndPointIntegracion.MvcApplicationPartsAssemblyInfo.cache
EndPointIntegracion/obj/Debug/net6.0/EndPointIntegracion.pdb
EndPointIntegracion/obj/Debug/net6.0/staticwebassets.removed.txt
EndPointIntegracion/obj/Debug/net6.0/ref/EndPointIntegracion.dll
EndPointIntegracion/obj/Debug/net6.0/refint/EndPointIntegracion.dll
EndPointIntegracion/obj/Release/net6.0/apphost.exe
EndPointIntegracion/obj/Release/net6.0/EndPointIntegracion.AssemblyInfoInputs.cache
EndPointIntegracion/obj/Release/net6.0/EndPointIntegracion.assets.cache
EndPointIntegracion/obj/Release/net6.0/EndPointIntegracion.csproj.AssemblyReference.cache
EndPointIntegracion/obj/Release/net6.0/EndPointIntegracion.csproj.CoreCompileInputs.cache
EndPointIntegracion/obj/Release/net6.0/EndPointIntegracion.dll
EndPointIntegracion/obj/Release/net6.0/EndPointIntegracion.genruntimeconfig.cache
EndPointIntegracion/obj/Release/net6.0/EndPointIntegracion.MvcApplicationPartsAssemblyInfo.cache
EndPointIntegracion/obj/Release/net6.0/EndPointIntegracion.pdb
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/EndPointIntegracion.dll
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/EndPointIntegracion.exe
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/EndPointIntegracion.pdb
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/Microsoft.OpenApi.dll
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/Swashbuckle.AspNetCore.Swagger.dll
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerGen.dll
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerUI.dll
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/System.Data.SqlClient.dll
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/runtimes/unix/lib/net6.0/System.Data.SqlClient.dll
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/runtimes/win/lib/net6.0/System.Data.SqlClient.dll
EndPointIntegracion/obj/Release/net6.0/PubTmp/Out/runtimes/win-arm64/native/sni.dll
SIIMVA_WEB/Properties/PublishProfiles/FolderProfile.pubxml.user
